*{margin: 0; padding: 0;box-sizing: border-box;}

/* HTML CSS JS Result Skip Results Iframe */
.top{
  padding: 0;
  margin: 0;
  min-height: 500vh;
  background-color: rgb(139, 201, 228);
  animation: body 1s linear;
}
@keyframes body {
  to {
    background-color: rgb(19, 48, 97);
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
}

.cube-wrap {
  --size: 30vmin;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  perspective: 100vmin;
}
.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear;
}
@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -.5);
  left: calc(var(--size) * -.5);
}
.top {
  background-color: #fff;
  transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
}
.bottom {
  background-color: #999;
  transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
}

.left {
  background-color: #ccc;
  transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
}
.right {
  background-color: #ddd;
  transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
}
.front {
  background-color: #aaa;
  transform: translateZ(calc(var(--size) * .5));
}
.back {
  background-color: #bbb;
  transform: translateZ(calc(var(--size) * -.5));
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.body{
    /* text-align: center; */
    line-height: 2em;
    padding-top: 1rem;
    border: 2px solid;
    margin: 3rem;
    padding: 3rem;
    background-color: cadetblue;
}
#creat{
    border-radius: 7px;
    padding: 0.2rem;
}

h1{
    text-align: center;
    padding: 2rem;
   /* background-color: #191e29; */
    text-transform: uppercase;
    color: azure;
}
/* input{
    color: rgb(119, 0, 255);
    height: fit-content;
} */
.home-body{
    background-color: rgb(54, 101, 23);

}

.button{
    border: none;
    padding: 0.6em;
    border-radius: 0.5em;
    cursor: pointer;
}
/* signin page */
.signinh1{
  font-size: 3em;
}
.signin{
  background-color: #333;
  text-align: center;
  line-height: 2em;
  margin: auto ;
  padding: 3em;
  height: 100vh;
}

.password{
  margin-top: 2em;
}
.creat{
  border-radius: 1em;
}
input{
  padding: 1em;
  width: 27em;
}
.creat-it{
  padding: 1em;
  width: 27em;
  text-transform: capitalize;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
background-color: brown;
color: floralwhite;

}

.button:hover{
    filter: brightness(0.9);
}
button:active{
    transform: translateX(2px);
}
.person-selector{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: auto;
    max-width: 37.5em;
    margin-bottom: 2em;
}
.person-selector-button{
    width: 100%;
    background-color: #152025;
    color: #fff;
    font-size: 1.1em;
}
.active-person{
    background-color: #08529d;
    box-shadow: 0 0 0.5em;
}
.chat-container{
    background-color: #15202b;
    font-family: "Roboto", sans-serif;
    padding: 2em;
    margin: auto;
    max-width: 37.5em;
    height: 35.5em;
    box-shadow: 0 0 1.25em 0.54em #c3c3cd;
}
.chat-header{
    margin-bottom: 1em;
    color: #fff;

}
.chat-header h2{
    font-size: 1.25em;
    font-weight: bold;
}
.chat-message{
    height: 23em;
    overflow-y: scroll;
}
.chat-message::-webkit-scrollbar{
    display: none;
}
/* .messageright{
    float: right;
} */
.message {
    padding: 0.6em;
    border-radius: 1em;
    margin-bottom: 0.65em;
    display: flex;
    flex-direction: column;
    color: #fff;
    /* width: fit-content; */
    /* height: fit-content; */
}
.message-sender{
    font-weight: bold;
    margin-bottom: 0.3em;
}
.message-text{
    font-size: 1em;
    margin-bottom: 0.3em;
    word-wrap: break-word;
}
.message-time{
    font-size: 0.7em;
    text-align: right;
}

/* .felix-text{
    text-align: right;
    
}
.felix-time{
    text-align: right;
    font-size: 0.7em;
} */
.blue-bg{
    background-color: #1c9bef;
}
.gray-bg{
    background-color: #3d5365;
}
.chat-input-form{
    display: flex;
    align-items: center;
    /* margin-top: 2em; */
    /* margin: auto; */
    gap: 0.6em;
}
.chat-input{
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1em;
    flex-grow: 1;
    margin: 1em;
}
.send-button{
    background-color: #1c9bef;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    
}
.clear-chat-button{
    display: block;
    margin: 1em auto ;
}
/* index page css */
.main{
  text-align: center;
}
.main a{
  text-decoration: none;
}
.create{
  border: 1px solid;
  padding: 0.5em 4em 0.5em 1.5em;
  border-radius: 1em 0 0 1em;
  background-color: #eee;
}
.sign{
  border-radius: 0 1em 1em 0;
  border: 1px solid;
  padding: 0.5em 1.5em 0.5em 4em;
  background-color: rgb(169, 77, 61);
  color: #fff;
}


  
.main a:hover{
    box-shadow: 0 0 1.25em 0.1em #f3f3;
    filter: brightness(0.9);
}
.cont{
  
    background-color: #152025;
    height: fit-content;
    width: fit-content;
    /* margin: 2em auto; */
    /* padding:auto; */
    margin: auto;
}
#ip{
    padding-top: 1vh;
    animation:move 2s infinite; 
    /* margin: 4em;  */
}
@keyframes move {
    from {color: rgb(109, 218, 19);}
    to {color: rgb(48, 48, 116);}
    to {color: rgb(0, 126, 128);}
    to {color: rgb(225, 231, 225);}
    to {color: rgb(107, 47, 47)}
    to {color: rgba(212, 151, 10, 0.662);}
    to {color: hsl(60, 2%, 26%);}
    to {color: rgb(11, 188, 247);}
    to {color: rgba(113, 112, 155, 0.662);}
    to {color: hsl(298, 87%, 44%);}
}


/* form page css*/
#formpage{
    text-align: center;
    line-height: 1.5em;
}
label{
  text-align: left;
  text-transform: capitalize;
  color: #c3c3cd;
}
.data{
    background-color: #e4e2e2;
    padding: 1em;
    color: black;
    filter: brightness(0.9);
}
.sub{
    border-radius: 1em;
    width: fit-content;
    padding: 0.5em;
    color: #fff;
    border: 0.5px solid white;
    background-color: rgb(8, 8, 89);
}
.save{
    margin-left: 0.5em;
   background-color: rgb(184, 19, 52);
}

/* login form */

.sec{
    border: 0.1em solid;
  text-align: center;
  padding-bottom: 5em;
}
.homepage{

}
.mainbox{
  background-color: #062849;
  /* margin:3em; */
  padding:15em auto;
  height: 100vh;
  padding-top: 3em;
  margin: 3em ;
  
}
.main{
  margin-top: 20%;
}

/* open formhtml */

.openform{
  background-color: #062849;
  /* margin: auto; */
  height: 100vh;
  /* margin: auto; */
  text-align: center;
  justify-content: center;
}
.sec{
  border: 2px solid;
  margin: 2em 2em;
  padding: 1em;
  width: 100%;
}
#pi{
 background-color: rgb(32, 73, 73);
 margin-bottom: 2em;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.sec p{
  color: aliceblue;
  margin-bottom: 3em;
  box-shadow: 0 0 1.25em 0.54em #c3c3cd;
  padding: 2em;
  filter: brightness(0.8);
  font-size: larger;
}
#next{
  width: 16em;
  box-shadow: 0 0 1.25em 0.54em #270d01;
  /* background-color: #1c9bef; */
  color: rgb(169, 77, 61);
  border-radius: 1.5em;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.9em;
  transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
}
#next:hover{
  filter: brightness(0.5);
  /* color: rgb(210, 30, 30); */
}
#next{
  background-color: #999;
}
.have{
  color: rgb(169, 77, 61);
 margin-top: 3em;
}



@media only screen and (max-width:600px) {
   .cont{
    height: 100vh;
    margin: 1em;
    padding: 1em;
   }
   .home-body{
       margin: 2em;
       background-color: cadetblue;
    }
    .chat-input-form{
       position: relative;
       display: inline-block;
    /* display: block; */
    align-items: center;
   }
   .mainbox{
  background-color: #062849;
  /* margin:3em; */
  padding:10em auto;
  height: 100vh;
  width: 100%;
  padding-top: 3em;
  margin: 3em ;
  
}
#ip{
  /* padding-top: 1vh; */
  animation:move 2s infinite; 
  margin: 4em; 
  font-size:x-small;
}
   .h20{
    text-align: center;
    padding: 1rem;
   /* background-color: #191e29; */
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
   font-size: 1.3em;
}
.chat-input{
    padding-right: 4em;
    width: 20em;
    /* height: 100%; */
}
.send-button{
    position: absolute;
    top: 15px;
    right: 0;
    border: none;
    cursor: pointer;
    /* height: 100%; */

}
.clear-chat-button{
    display: block;
    margin: 0.1em auto;
}
.mainbox{
  background-color: #08529d;
  margin:0;
  padding:3em ;
  padding-top: 2em;
  height: 100vh;
  font-size: 1em;
}
.homepage{
  font-size: small;
}



.main{
  width: 100%;
  margin-top: 70%;
}
.create{
  width: 40%;
  border: 1px solid;
  padding: 0.3em 2em 0.3em 1em;
  border-radius: 1em 0 0 1em;
  background-color: #eee;
}
.sign{
  width: 40%;
  border-radius: 0 1em 1em 0;
  border: 1px solid;
  padding: 0.3em 2em 0.3em 1em;
  background-color: rgb(169, 77, 61);
}

.signinh1{
  font-size: 2em;
}
.signin{
  background-color: #333;
  text-align: center;
  line-height: 2em;
  margin: auto ;
  padding: 3em;
}

.password{
  margin-top: 1em;
}
.creat{
  border-radius: 1em;
  padding: 1em;
  width: 20em;
}
.creat-it{
  text-transform: capitalize;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
background-color: brown;
color: floralwhite;

}

}


@media only screen and (max-width:300px) {
  .cont{
   height: 100vh;
   margin: 1em;
   padding: 1em;
  }
  .home-body{
      margin: 2em;
      background-color: cadetblue;
   }
   .chat-input-form{
      position: relative;
      display: inline-block;
      width: 100%;
   /* display: block; */
   align-items: center;
  }
  .h20{
   text-align: center;
   padding: 1rem;
  /* background-color: #191e29; */
   text-transform: uppercase;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: azure;
  font-size: 1.3em;
}
.chat-input{
   padding-right: 4em;
   width: 100%;;
   /* height: 100%; */
}
.send-button{
   position: absolute;
   top: 15px;
   right: 1em;
   border: none;
   cursor: pointer;
   /* height: 100%; */

}
.clear-chat-button{
   display: block;
   margin: 0.1em auto;
}
.mainbox{
 background-color: #08529d;
 margin:0;
 /* padding: 20em 3em ; */
 /* padding-top: 30em; */
 height: 100vh;
 font-size: 1em;
}
.homepage{
 font-size: large;
}



.main{
 width: 100%;
 margin-top: 70%;
}
.create{
 width: 40%;
 border: 1px solid;
 padding: 0.3em 2em 0.3em 1em;
 border-radius: 1em 0 0 1em;
 background-color: #eee;
}
.sign{
 width: 40%;
 border-radius: 0 1em 1em 0;
 border: 1px solid;
 padding: 0.3em 2em 0.3em 1em;
 background-color: rgb(169, 77, 61);
}

.signinh1{
  font-size: 2em;
}
.signin{
  background-color: #333;
  text-align: center;
  line-height: 2em;
  margin: auto ;
  padding: auto;
  height: 100vh;
}

.password{
  margin-top: 1em;
}
.creat{
  border-radius: 1em;
  padding: 1em;
  width: 20em;
}
.creat-it{
  text-transform: capitalize;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
background-color: brown;
color: floralwhite;

}

}